.container {
  display: flex;
}

.right {
  width: 60%;
}

.left {
  display: flex;
  width: 40%;
  height: 98vh;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bkgrd.png);
  background-size: fill;
  background-repeat: no-repeat;
}

/*.left img {
  height: 100%;
  min-height: 350px;
  width: 100%;
}*/

.name, 
.contact, 
.password {
  display: flex;
  gap: 50px;
  padding: 10px 0px; 
}

.intro {
  padding: 80px 200px 25px 40px;
}

.form {
  padding: 10px 100px 20px 40px;
}

input {
  width: 250px;
  height: 1.2rem;
}

.footer {
  padding: 10px 0 0 40px;
}

button {
  margin-bottom: 15px;
  width: 200px;
  height: 2rem;
}